{
  "extends": ["plugin:compat/recommended"],
  "env": {
    "browser": true,
    "es6": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "settings": {
    "polyfills": ["fetch"]
  }
}
